#####################custom snippet - before package ###############################
#foreach($snippet in $classDef.getCustomSnippet("BEFORE_PACKAGE") )
$snippet 
$n#end
#####################Package Name definition ###########################
#if ($classDef.getPackageName())
package $classDef.getPackageName();
#end
#####################custom snippet - after package ###############################
#foreach($snippet in $classDef.getCustomSnippet("AFTER_PACKAGE") )
$snippet 
$n#end

#####################import statements #################################
#foreach ( $importStatement in $classDef.getImportSnippets() )
$importStatement
#end
#####################custom class snippet - import ###############################
#foreach($snippet in $classDef.getCustomSnippet("IMPORT") )
$snippet 
#end
#####################custom attribute snippet - import ###############################
#foreach( $varDef in $classDef.getVariableDefs() )
#foreach($snippet in $varDef.getCustomSnippet("IMPORT") )
$snippet 
#end
#end
#####################java doc ###############################
#if ($classDef.isJavaDocExist())
$classDef.getJavaDoc()
#end

#####################custom class snippet - before class ###############################
#foreach($snippet in $classDef.getCustomSnippet("BEFORE_CLASS") )
$snippet 
$n#end
#####################jaxb annotations ###############################
#if($classDef.isJaxbSupport())
@XmlAccessorType(XmlAccessType.FIELD)
#if($classDef.isXmlRootElement())
@XmlRootElement
#end
#end
#####################class annotations ###############################
$classDef.getManagedType()
#if ($classDef.getTableDef())
$classDef.getTableDef().getSnippet()
#end
#if ($classDef.getInheritance())
$classDef.getInheritance().getSnippet()
#end
#if ($classDef.getPrimaryKeyJoinColumns())
$classDef.getPrimaryKeyJoinColumns().getSnippet()
#end
#if ($classDef.getSecondaryTables())
$classDef.getSecondaryTables().getSnippet()
#end
#if ($classDef.getIdClass())
$classDef.getIdClass().getSnippet()
#end
#if ($classDef.getAssociationOverrides())
$classDef.getAssociationOverrides().getSnippet()
#end
#if ($classDef.getAttributeOverrides())
$classDef.getAttributeOverrides().getSnippet()
#end
#if ($classDef.getSQLResultSetMappings())
$classDef.getSQLResultSetMappings().getSnippet()
#end
#if ($classDef.getEntityListeners())
$classDef.getEntityListeners().getSnippet()
#end
#if ($classDef.isDefaultExcludeListener())
@ExcludeDefaultListeners
#end
#if ($classDef.isExcludeSuperClassListener())
@ExcludeSuperclassListeners
#end
#if ($classDef.getDiscriminatorValue())
$classDef.getDiscriminatorValue().getSnippet()
#end
#if ($classDef.getDiscriminatorColumn())
$classDef.getDiscriminatorColumn().getSnippet()
#end
#if ($classDef.getCacheableDef())
$classDef.getCacheableDef().getSnippet()
#end
#if ($classDef.getConverts())
$classDef.getConverts().getSnippet()
#end
##################### named queries ###############################
#if ($classDef.getNamedQueries() )
$classDef.getNamedQueries().getSnippet()
#end
#if ($classDef.getNamedNativeQueries() )
$classDef.getNamedNativeQueries().getSnippet()
#end
##################### named entity graphs ###############################
#if ($classDef.getNamedEntityGraphs() )
$classDef.getNamedEntityGraphs().getSnippet()
#end
##################### named stored procedure ###############################
#if ($classDef.getNamedStoredProcedureQueries() )
$classDef.getNamedStoredProcedureQueries().getSnippet()
#end
##################### JSONB ###############################
#foreach($snippet in $classDef.getJSONBSnippets() )
$snippet.getSnippet()
#end
##################### custom annotation ###############################
#foreach($annotation in $classDef.getAnnotation("TYPE") )
$annotation.getSnippet()
#end
public#if($classDef.isMappedSuperClass() || $classDef.isAbstractClass()) abstract#end class $classDef.getClassName()#if($classDef.isTypeParameterExist())<$classDef.getTypeParameterList()>#end#if ($classDef.getSuperClassName()) extends $classDef.getSuperClassName()#end#if($classDef.isInterfaceExist()) implements $classDef.getUnqualifiedInterfaceList()#end { 

#####################custom class snippet - before field ###############################
#foreach($snippet in $classDef.getCustomSnippet("BEFORE_FIELD") )
    $snippet 
$n#end
#####################member variables ###############################
#foreach( $varDef in $classDef.getVariableDefs() )
#####################custom attribute snippet - before field ###############################
#foreach($snippet in $varDef.getCustomSnippet("BEFORE_FIELD") )
    $snippet 
$n#end
#if ($varDef.isPropertyJavaDocExist())
$varDef.getPropertyJavaDoc()
#end
#####################var - jpa annotations ###############################
#if($varDef.isTranzient())
    @Transient
#end
#if($varDef.isPrimaryKey())
    @Id
#end
#if($varDef.getRelationDef())
    $varDef.getRelationDef().getSnippet()
#end
#if($varDef.getElementCollection())
    $varDef.getElementCollection().getSnippet()
#end
#if($varDef.isVersion())
    @Version
#end
#if($varDef.isEmbedded())
    @Embedded
#end
#if($varDef.isEmbeddedId())
    @EmbeddedId
#end
#if($varDef.isLob())
    @Lob
#end
#if($varDef.getBasic())
    $varDef.getBasic().getSnippet()
#end
#if($varDef.getGeneratedValue())
    $varDef.getGeneratedValue().getSnippet()
#end
#if($varDef.getTableGenerator())
    $varDef.getTableGenerator().getSnippet()
#end
#if($varDef.getSequenceGenerator())
    $varDef.getSequenceGenerator().getSnippet()
#end
#if($varDef.getColumnDef())
    $varDef.getColumnDef().getSnippet()
#end
#if($varDef.getOrderBy())
    $varDef.getOrderBy().getSnippet()
#end
#if($varDef.getOrderColumn())
    $varDef.getOrderColumn().getSnippet()
#end
#if($varDef.getMapKey())
    $varDef.getMapKeyString()
#end
#if($varDef.getJoinColumns())
    $varDef.getJoinColumns().getSnippet()
#end
#if($varDef.getJoinTable() && !$varDef.getJoinTable().isEmpty())
    $varDef.getJoinTable().getSnippet()
#end
#if($varDef.getCollectionTable() && !$varDef.getCollectionTable().isEmpty())
    $varDef.getCollectionTable().getSnippet()
#end
#if($varDef.getEnumerated())
    $varDef.getEnumerated().getSnippet()
#end
#if($varDef.getTemporal())
    $varDef.getTemporal().getSnippet()
#end
#if ($varDef.getConverts())
    $varDef.getConverts().getSnippet()
#end
#if ($varDef.getAssociationOverrides())
$varDef.getAssociationOverrides().getSnippet()
#end
#if ($varDef.getAttributeOverrides())
$varDef.getAttributeOverrides().getSnippet()
#end
#foreach($annotation in $varDef.getAnnotation("PROPERTY") )
    $annotation.getSnippet()
#end
#foreach($snippet in $varDef.getJSONBSnippets() )
    $snippet.getSnippet()
#end
#foreach($constraint in $varDef.getAttributeConstraints() )
    $constraint.getSnippet()
#end
#####################var - jaxb annotations ###############################
#if($classDef.isJaxbSupport())
#set($jaxbAnnotationSnippet = $varDef.getJaxbAnnotationSnippet())
#if($jaxbAnnotationSnippet != "")
    $jaxbAnnotationSnippet
#end
#end
## $varDef.type => $varDef.getTypeIdentifier().getConstraintVariableType() ## to resolve problem Collection => Collection<Entity>
    $varDef.accessModifier $varDef.constraintType $varDef.name#if($varDef.getDefaultValue()) = $varDef.getDefaultValue()#end;

#####################custom attribute snippet - after field ###############################
#foreach($snippet in $varDef.getCustomSnippet("AFTER_FIELD") )
    $snippet 
$n#end
#end
#####################custom class snippet - after field ###############################
#foreach($snippet in $classDef.getCustomSnippet("AFTER_FIELD") )
    $snippet
$n#end
#####################Constructor #################################
#foreach($constructor in $classDef.getConstructors())
    $constructor.getSnippet()
$n#end
#####################custom class snippet - before method ###############################
#foreach($snippet in $classDef.getCustomSnippet("BEFORE_METHOD") )
    $snippet
$n#end
#####################getter/setter #################################
#foreach( $varDef in $classDef.getVariableDefs() )
#####################custom attribute snippet - before method ###############################
#foreach($snippet in $varDef.getCustomSnippet("BEFORE_METHOD") )
    $snippet
$n#end
##################### getter ###############################
#if ($varDef.isGetterJavaDocExist())
$varDef.getGetterJavaDoc()
#end
#foreach($annotation in $varDef.getAnnotation("GETTER") )
    $annotation.getSnippet()
#end
#set($method = $varDef.getMethodName())
#set($methodPrefix = $varDef.getGetterMethodPrefix())
    public $varDef.returnType $methodPrefix$method() #if($varDef.isGetterThrows()) $varDef.getGetterThrowsSnippet() #end {
#####################custom attribute snippet - pre getter ###############################
#foreach($snippet in $varDef.getCustomSnippet("PRE_GETTER") )
        $snippet
#end
#####################custom attribute snippet - getter ###############################
#if($varDef.getCustomSnippet("GETTER").isEmpty() == false)
#foreach($snippet in $varDef.getCustomSnippet("GETTER") )
        $snippet
#end
#else
    #if ($varDef.getImplementationType())
        if($varDef.name == null) {
            $varDef.name = new $varDef.getImplementationType()<>();
        }
    #end
        return $varDef.returnValue;
#end
#####################custom attribute snippet - post getter ###############################
#foreach($snippet in $varDef.getCustomSnippet("POST_GETTER") )
        $snippet
#end
    }

##################### setter ###############################
#if ($varDef.isSetterJavaDocExist())
$varDef.getSetterJavaDoc()
#end
#foreach($annotation in $varDef.getAnnotation("SETTER") )
    $annotation.getSnippet()
#end
#set($methodPrefix = $varDef.getSetterMethodPrefix())
    public void $methodPrefix$method($varDef.type $varDef.name) #if($varDef.isSetterThrows()) $varDef.getSetterThrowsSnippet() #end{
#####################custom attribute snippet - pre setter ###############################
#foreach($snippet in $varDef.getCustomSnippet("PRE_SETTER") )
        $snippet
#end
#####################custom attribute snippet - setter ###############################
#if($varDef.getCustomSnippet("SETTER").isEmpty() == false)
#foreach($snippet in $varDef.getCustomSnippet("SETTER") )
        $snippet
#end
#else
        this.$varDef.name = $varDef.name;
#end
#####################custom attribute snippet - post setter ###############################
#foreach($snippet in $varDef.getCustomSnippet("POST_SETTER") )
        $snippet
#end
    }

##################### fluent ###############################
#if($fluentAPI)
#if ($varDef.isFluentJavaDocExist())
$varDef.getFluentJavaDoc()
#end
#foreach($annotation in $varDef.getAnnotation("FLUENT") )
    $annotation.getSnippet()
#end
#set($fluentMethod = $varDef.fluentMethodName)
    public $classDef.getClassName() $fluentMethod($varDef.type $varDef.name) {
#####################custom attribute snippet - pre fluent ###############################
#foreach($snippet in $varDef.getCustomSnippet("PRE_FLUENT") )
        $snippet
$n#end
#####################custom attribute snippet - fluent ###############################
#if($varDef.getCustomSnippet("FLUENT").isEmpty() == false)
#foreach($snippet in $varDef.getCustomSnippet("FLUENT") )
        $snippet
#end
#else
        this.$varDef.name = $varDef.name;
        return this;
#end
    }
#end
#####################add/remove ###############################
#if ($varDef.getImplementationType())
    $varDef.getHelperMethodSnippet()
#end

#####################custom attribute snippet - after method ###############################
#foreach($snippet in $varDef.getCustomSnippet("AFTER_METHOD") )
    $snippet
$n#end
$n#end
#####################custom class snippet - after method ###############################
#foreach($snippet in $classDef.getCustomSnippet("AFTER_METHOD") )
    $snippet
$n#end
##################### hashcode, equals and toString method #################################
#if ($classDef.getEqualsMethod())
    @Override
    public boolean equals(Object obj) {
        $classDef.getEqualsMethod().getSnippet()
    }
$n#end
#if ($classDef.getHashcodeMethod())
    @Override
    public int hashCode() {
        $classDef.getHashcodeMethod().getSnippet()
    }
$n#end
#if ($classDef.getToStringMethod())
    @Override
    public String toString() {
        return $classDef.getToStringMethod().getSnippet();
    }
$n#end
#####################custom class snippet - default ###############################
#foreach($snippet in $classDef.getCustomSnippet("DEFAULT") )
    $snippet
$n#end
}
#####################custom class snippet - after class ###############################
#foreach($snippet in $classDef.getCustomSnippet("AFTER_CLASS") )
$snippet 
$n#end