##################### JAXB ###############################
#if ($classDef.isJaxbMetadataExist())
@XmlSchema(namespace = "$classDef.getNamespace()", elementFormDefault = XmlNsForm.QUALIFIED)
#end
##################### JSONB ###############################
#foreach($snippet in $classDef.getJSONBSnippets() )
    $snippet.getSnippet()
#end
#####################Package Name definition ###########################
#if ($classDef.getPackageName())
package $classDef.getPackageName();
#end

#foreach ( $importStatement in $classDef.getImportSnippets() )
$importStatement
#end