/Database Reverse Engineering/build/
/JPA Classes Reverse Engineering/build/
/JPA Specification/build/
/ORM Converter/build/
/JPA Modeler Core/build/
/Database Reverse Engineering/nbproject/private/
/JPA Classes Reverse Engineering/nbproject/private/
/JPA Specification/nbproject/private/
/ORM Converter/nbproject/private/
/JPA Modeler Core/nbproject/private/
/build/
/nbproject/private/
/DBViewer/nbproject/private/
/DBModeler/build/
/DBModeler/nbproject/private/
/JPA-RI/build/
/JPA-RI/nbproject/private
/JPA RI/nbproject/private/
/DB Modeler/nbproject/private/
/DB Modeler/build/
/JPA RI/build/
/Collaboration/build/
/Installer/nbproject/private/
/Installer/build/
/JPA Modeler Libraries/build/
/JPA Modeler Libraries/nbproject/private/