/build/
/nbproject/private/
/installer/nbproject/private/
/libs/nbproject/private/
/relation.mapper/nbproject/private/
/reveng/nbproject/private/
/jpa.modeler/nbproject/private/
/jsonb.modeler/nbproject/private/
/orm.generator/nbproject/private/
/collaboration/nbproject/private/
/db.modeler/nbproject/private/
/installer/build/
/libs/build/
/relation.mapper/build/
/reveng/build/
/jpa.modeler/build/
/jsonb.modeler/build/
/orm.generator/build/
/collaboration/build/
/db.modeler/build/