language: java
cache:
  timeout: 1000
  directories:
  - $HOME/.m2
jdk:
- openjdk8
- openjdk11
os:
  - linux
before_install:
    - export M2_HOME=/usr/local/maven-3.5.2

    - git clone https://github.com/jeddict/netbeans-modeler.git ~/builds/netbeans-modeler
    - pushd ~/builds/netbeans-modeler
    - mvn clean install
    - popd