# This workflow will build a Java project with Maven, and cache/restore any dependencies to improve the workflow execution time
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - name: Set up JDK 11
      uses: actions/setup-java@v3
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: maven
    - uses: actions/checkout@master
      with:
        repository: jeddict/netbeans-modeler
        name: jeddict/netbeans-modeler
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - uses: actions/checkout@v3
    - name: Build with Maven
      run: mvn -B package --file pom.xml
